body {
    background-color: #ced4da;
}

.bg-side {
    height: 100%;
    background-color: #ced4da;
}

.paw-vertical {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}